h1 {
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}

.header {
    background-color:rgb(0, 94, 94);
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-top: 30px;
    margin-right: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

body {
    background-color:rgb(88, 103, 109);
}

a:link {
    color:rgb(18, 167, 147);
}

a:visited {
    color:maroon;
}

.item {
    position: relative;
}

.item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.item:hover p {
    opacity: 1;
}

.item:hover img {
    opacity: 0.5;
}
